<div class="remote-panel">
    <mat-card>
        <mat-card-header>
            Slides control
        </mat-card-header>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <button mat-raised-button class="remote-button" (click)="previousSlide()" matTooltip="Previous slide" matTooltipPosition="above">
                        <mat-icon>navigate_before</mat-icon>
                        Next slide
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button class="remote-button" (click)="nextSlide()" matTooltip="Next slide" matTooltipPosition="above">
                        <mat-icon>navigate_next</mat-icon>
                        Previous slide
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile>
                    <button mat-raised-button class="remote-button" (click)="previousItem()" matTooltip="Previous item" matTooltipPosition="above">
                        <mat-icon>first_page</mat-icon>
                        Previous item
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-raised-button class="remote-button" (click)="nextItem()" matTooltip="Next item" matTooltipPosition="above">
                        <mat-icon>last_page</mat-icon>
                        Next item
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            Display control
        </mat-card-header>
        <mat-card-content>

            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <button mat-list-item class="remote-button" (click)="blankDisplay()" [disabled]="state.displayMode === DisplayMode.Blank">
                        <mat-icon>videocam_off</mat-icon>
                        Show black
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-list-item class="remote-button" (click)="showDisplay()" [disabled]="state.displayMode === DisplayMode.Presentation">
                        <mat-icon>videocam</mat-icon>
                        Show Presentation
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            <mat-grid-list cols="2" rowHeight="4:1">
                <mat-grid-tile>
                    <button mat-list-item class="remote-button" (click)="themeDisplay()" [disabled]="state.displayMode === DisplayMode.Theme">
                        <mat-icon>wallpaper</mat-icon>
                        Show background
                    </button>
                </mat-grid-tile>
                <mat-grid-tile>
                    <button mat-list-item class="remote-button" (click)="desktopDisplay()" [disabled]="state.displayMode === DisplayMode.Desktop">
                        <mat-icon>desktop_windows</mat-icon>
                        Show Desktop
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
