<ng-container *ngIf="items?.length; else noServiceItems">
  <openlp-service-item
    *ngFor="let item of items"
    [item]="item"
    [selected]="item.selected"
    (selectItem)="onItemSelected($event)"
    [tabindex]="item.id"
  ></openlp-service-item>
</ng-container>
<ng-template #noServiceItems>
  <div class="no-items" *ngIf="!loading">
    <div class="no-items-title">
      <span class="material-icons icon">info</span>
      No service items.
    </div>
    <div class="no-items-actions">
      <a routerLink="/search" mat-stroked-button color="primary" size="small">
        <span class="material-icons">add</span>
        Add Item
      </a>
    </div>
  </div>
</ng-template>
