<mat-card (click)="onItemSelected(item)" class="service-item no-select" [class.selected]="selected">
  <mat-card-content>
    <mat-icon>{{ getIcon(item) }}</mat-icon> {{ item.title }}
  </mat-card-content>
</mat-card>
